parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src/
    ignoreErrors:
        # Uses func_get_args()
        - '#Parameter \#2 \$args of function register_post_type expects array\X*#'
        - '#Parameter \#3 \$args of function register_taxonomy expects array\X*#'
    scanDirectories:
        - vendor/vendor-prefixed
        - vendor
    scanFiles:
    bootstrapFiles:
