#juvo-mail_metabox .regular-text,
#juvo-mail_metabox input.cmb2-text-medium {
	width: 100%;
}

#juvo-mail_metabox .cmb-type-group .inside {
	margin: 0 !important;
	padding: 15px !important;
}

#juvo-mail_metabox .cmb-type-group .inside .cmb-row {
	padding: 0 0;
	margin: 0;
	border: 0;
}

#juvo-mail_metabox .cmb-flex .inside.cmb-field-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#juvo-mail_metabox .cmb-flex .closed .inside.cmb-field-list {
	display: none;
}

#juvo-mail_metabox .cmb-flex .cmb-row {
	flex: 1;
}

#juvo-mail_metabox .cmb-flex .cmb-row:after {
	display: none;
}

#juvo-mail_metabox .cmb-flex .flex-col-2 {
	flex-basis: 45%;
}

#juvo-mail_metabox .cmb-flex .cmb-remove-field-row {
	flex-basis: 100%;
	border-top: 1px solid #e9e9e9 !important;
	padding-top: 15px !important;
}

#juvo-mail_metabox .cmb-type-group .cmb-repeatable-group:not(:last-of-type),
#juvo-mail_metabox .cmb-type-group .cmb-row:not(:last-of-type),
#juvo-mail_metabox .cmb2-postbox .cmb-repeatable-group:not(:last-of-type),
#juvo-mail_metabox .cmb2-postbox .cmb-row:not(:last-of-type) {
	border-bottom: 0;
	box-shadow: none;
}

/** Input fields **/
#juvo-mail_metabox .cmb-repeat-group-field {
	display: flex;
	flex-wrap: nowrap;
	gap: 15px;
	align-items: center;
}

#juvo-mail_metabox .cmb-repeat-group-field .cmb-th,
#juvo-mail_metabox .cmb-repeat-group-field .cmb-td {
	width: initial;
	padding: 0;
}

#juvo-mail_metabox .cmb-repeat-group-field .cmb-th {
	min-width: 60px;
}

#juvo-mail_metabox .cmb-repeat-group-field .cmb-td {
	flex-basis: 100%;
}

#juvo-mail_metabox .cmb2-metabox .cmbhandle:before {
	content: "\f140";
}

#juvo-mail_metabox .cmb2-metabox .postbox.closed .cmbhandle:before {
	content: "\f141";
}

@media screen and (max-width: 781px) {
	#juvo-mail_metabox .cmb-flex .flex-col-2 {
		flex-basis: 100%;
	}
}
